body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.app-deeper {
  display: flex;
}
.app-setup {
  display: felx;
  flex-direction: column;
}
.sidebar {
  width: 67px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0;
  border-right: 2px solid #f6f6f6;
}
.side-icon {
  color: #b1b1b1;
  padding: 10px;
  padding-right: 10px;
  margin: 2px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #ebebeb;
}
.side-icon:hover {
  background-color: #ffdbce;
  color: #ef4f23;
}
.navbar {
  padding: 5px;
  width: 93.5vw;
  height: 40px;
  display: flex;
  border-bottom: 2px solid #f6f6f6;
}
.nav-cent {
  justify-content: center;
  border-bottom: 1.5px solid #ebebeb;
  width: 97.5vw;
  padding: 10px;
  text-align: center;
}

.nav-logo {
  padding: 10px;
  margin-left: 40px;
}

.nav-side {
  margin-left: 900px;
  display: flex;
  padding: 6px;
}
.nav-bell {
  margin-right: 1px;
  padding: 10px;
  padding-top: 1px;
  padding-right: 1px;
  font-size: small;
}
.user-name {
  background-color: #ffdbce;
  color: #ef4f23;
  height: 25px;
  margin-top: 1px;
  margin-left: 10px;
  font-size: 18px;
  font-family: "Kanit", sans-serif;
  width: 25px;
  height: 25px;
}
.graph {
  padding-top: 30px;
  margin-top: 12px;
  margin-left: 1px;
  background-color: #ffeee7;
  padding-bottom: 30px;
}
.main-area {
  padding: 25px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 80px;
  display: flex;
  justify-content: space-evenly;
}
.active {
  color: #ef4f23;
}

.card-sec {
  flex: 48%;
  padding-right: 0;
}
.pH {
  background-color: #ffdbce;
  color: #ef4f23;
  margin: 3px;
  margin-top: 5px;
  margin-left: 7px;
  padding: 7px;
  font-family: "Kanit", sans-serif;
}
.dots {
  color: #ef4f23;
  margin: 3px;
  padding: 7px;
}
.card-sensor {
  margin: 5px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 7px;
  border: 0;
  width: 90px;
  margin-right: 50px;
}
.card-sec-title {
  display: flex;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  font-family: "Kanit", sans-serif;
  margin-right: 0;
  padding-right: 0;
}
.graph-sec-title {
  display: flex;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  font-family: "Kanit", sans-serif;
}
#online {
  color: #11d019;
  padding: 7px;
  padding-bottom: 10px;
  font-size: 17px;
  font-family: "Kanit", sans-serif;
}
#offline {
  color: #ff4040;
  padding: 7px;
  padding-bottom: 10px;
  font-size: 17px;
  font-family: "Kanit", sans-serif;
}
#online-icon {
  color: #11d019;
  justify-content: baseline;
  left: auto;
}
#offline-icon {
  color: #ff4040;
  justify-content: baseline;
  left: auto;
}
.card-pH {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
  padding-left: 20px;
  font-size: 30px;
  font-family: "Kanit", sans-serif;
}
#small-pH {
  font-size: 15px;
}
#status {
  font-size: 14px;
  font-family: "Kanit", sans-serif;
}
.card-status {
  margin-top: 0;
  padding: 10px;
  padding-top: 5px;
  padding-left: 20px;
  font-family: "Kanit", sans-serif;
}
.card-sec-heading {
  color: #797979;
  padding: 20px;
  padding-bottom: 1px;
  margin-left: 15px;
  margin-bottom: 0;
  font-family: "Kanit", sans-serif;
}
.graph-sec-heading {
  color: #797979;
  padding: 10px;
  margin-left: 5px;
  font-family: "Kanit", sans-serif;
}
.card-sec-btn {
  padding: 30px;
  margin-left: 84px;
  font-family: "Kanit", sans-serif;
}
.graph-sec-btn {
  padding: 30px;
  margin-left: 147px;
}

.card-head {
  display: flex;
  margin-bottom: 0;
}
.graph-sec {
  padding: 1px;
  padding-left: 0;
  flex: 35%;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 13px;
}
.cards-area {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  padding-right: 1px;
  padding-top: 2px;
  border-right: 5px solid #f6f6f6;
}
.card {
  margin: 10px;
  margin-bottom: 0;
  border: 1px solid #eaeaea;
}
ul {
  list-style-type: none;
  padding: 10px;
}
ul li {
  margin-bottom: 20px;
  margin-right: 0;
  padding-left: 9px;
  text-align: center;
  padding-bottom: 0;
  height: 45px;
}
/* .tnc {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
} */
.tnc-signup {
  /* background-color: #11d019; */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
}
.tnc-signin {
  margin-top: 29px;
  display: flex;
  justify-content: center;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
}
.signinform,
.reset-pass-form,
.trouble-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: auto;
  margin-top: 18px;
  padding: 10px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}
.hr-div {
  display: flex;
  margin-bottom: 15px;
}
.hr-div-trouble {
  display: flex;
  margin-bottom: 20px;
  margin-top: 15px;
}
.hr-text {
  width: 130px;
  border: 0;
  border-top: 1.4px solid #e2e2e2;
  text-decoration: none;
}
.signinhead,
.reset-pass-head,
.trouble-signin-head {
  margin-bottom: 10px;
}
.rememberme {
  margin: 0;
  display: flex;
  margin-bottom: 15px;
  /* background-color: #11d019; */
}
.rememberme p {
  padding-top: 5px;
  font-size: 13px;
  padding-left: 3px;
}
.link {
  text-decoration: none;
  color: #ff0404;
}
.signincontainer,
.signup-container,
.reset-pass-container,
.trouble-signin-container {
  width: 40%;
  margin: auto;
  margin-top: 10px;
}
.addphno-container {
  margin-left: 355px;
  margin-top: 110px;
  width: 500px;
  padding: 20px;
  text-align: left;
  padding-left: 26px;
  border: 2.5px solid #ef4f23;
  border-radius: 5px;
  padding-top: 10px;
}
.onboard-container {
  display: flex;
  margin-top: 5px;
  margin-left: 40px;
}
.onboard-left {
  flex: 54%;
  padding: 0px;
}
.onboard-right {
  flex: 46%;
  text-align: left;
  padding-top: 3.5px;
}
.onboard-content {
  width: 400px;
  text-align: left;
  padding: 1px;
  padding-left: 2px;
  padding-bottom: 1px;
  margin-bottom: 2px;
}
.onboard-content-head {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0px;
  padding-bottom: 0;
  font-weight: 400;
  font-style: normal;
}
.onboard-content-body {
  margin-top: 8px;
  font-size: 14px;
  color: #5e5858;
  font-weight: 400;
  margin-bottom: 15px;
}
.signin-btn,
.reset-pass-btn,
.signup-btn,
.trouble-btn,
.proceed-btn {
  background-color: #ef4f23;
  color: white;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}
.proceed-btn {
  float: right;
  margin-right: 10px;
  margin-bottom: 5px;
}
.lets-get-started-btn {
  background-color: #ef4f23;
  color: white;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 13px;
  line-height: 14px;
  font-weight: 600;
  margin-top: 30px;
}
.google-btn {
  display: flex;
  margin: 0;
  justify-content: center;
  padding: 4px;
  padding-left: 25px;
}
.phno-div {
  display: flex;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  margin-bottom: 15px;
}
.addphno-phno-div {
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: nowrap;
  width: 67%;
  text-align: center;
}
.phno-inp {
  padding: 10px;
  padding-left: 12px;
  border: 0;
  width: 10px;
  margin-left: 3px;
  height: 18px;
  flex: 50%;
}

.email-inp,
.name-inp,
.pass-inp,
.reset-pass-inp,
.trouble-inp {
  padding: 10px;
  padding-left: 12px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  margin-bottom: 15px;
}
.forgot-div {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
