body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.app-deeper {
  display: flex;
}
.app-setup {
  display: felx;
  flex-direction: column;
}
.sidebar {
  width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #f6f6f6;
  padding: 0;
}
.sidebar ul li {
  padding: 0px;
  margin-bottom: 15px;
}
.side-icon {
  height: 34px;
  width: 36px;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #ebebeb;
  margin-left: 4px;
}
.side-icon:hover {
  background-color: #ffdbce;
}
.side-icon:hover #h-logo {
  fill: #ef4f23;
}
.side-icon:hover #d-logo {
  fill: #ef4f23;
}
.side-icon:hover #f-logo {
  fill: #ef4f23;
}
#h-logo,
#d-logo,
#f-logo {
  fill: #b1b1b1;
}

/* #h-logo:hover,
#d-logo:hover,
#f-logo:hover {
  fill: #ef4f23;
} */
.sidebar-list {
  justify-content: center;
  margin-top: 40px;
  padding: 0px;
}
.icon-box {
  height: 50px;
  width: 50px;
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.list-item {
  margin-bottom: 25px;
}
.icon-box:hover {
  border-right: 2px solid #ef4f23;
}
.logo-name {
  margin-top: 2px;
  font-size: 11px;
  font-weight: 400;
  color: #626262;
  text-align: center;
  margin-left: 2px;
}
.navbar {
  padding: 5px;
  width: 93.5vw;
  height: 40px;
  display: flex;
  border-bottom: 2px solid #f6f6f6;
}
.nav-cent {
  justify-content: center;
  border-bottom: 1.5px solid #ebebeb;
  width: 97.5vw;
  padding: 10px;
  text-align: center;
}

.nav-logo {
  padding: 10px;
  margin-left: 40px;
}

.nav-side {
  margin-left: 900px;
  display: flex;
  padding: 6px;
}
.nav-bell {
  margin-right: 1px;
  padding: 10px;
  padding-top: 1px;
  padding-right: 1px;
  font-size: small;
}
.user-name {
  background-color: #ffdbce;
  color: #ef4f23;
  height: 25px;
  margin-top: 1px;
  margin-left: 10px;
  font-size: 18px;
  width: 25px;
  height: 25px;
}
.graph {
  padding-top: 30px;
  margin-left: 1px;
  background-color: #ffeee7;
  padding-bottom: 30px;
}
.main-area {
  padding-left: 25px;
  padding-top: 0px;
  padding-right: 80px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
}
/* .active {
  border-right: 2px solid #ef4f23;

  color: #ef4f23;
  border-right: 2px solid #ef4f23;
} */

.card-sec {
  flex: 48%;
  padding-right: 0;
}

.dots {
  color: #ef4f23;
}
.card-sensor {
  padding: 10px;
  height: 7px;
  border: 0;
  font-size: 13px;
  width: 105px;
  margin-left: 7px;
  margin-right: 25px;
}
.card-sec-title {
  display: flex;
  height: 40px;
  padding-top: 25px;
}
.graph-sec-title {
  display: flex;
}
#online {
  color: #11d019;
  padding: 7px;
  padding-bottom: 10px;
  font-size: 12px;
  padding-right: 0px;
}
#offline {
  color: #ff4040;
  padding: 7px;
  padding-bottom: 10px;
  font-size: 12px;
  padding-right: 0px;
}
#online-icon {
  color: #11d019;
  justify-content: baseline;
  left: auto;
}
#offline-icon {
  color: #ff4040;
  justify-content: baseline;
  left: auto;
}
.card-pH {
  margin: 0;
  text-align: left;
  padding: 5px;
  padding-left: 15px;
  font-size: 40px;
}
#small-pH {
  font-size: 14px;
  position: relative;
  top: -5px;
  left: -4px;
}
#status {
  font-size: 12px;
  margin-left: 15px;
}
.card-status {
  text-align: left;
}
.card-sec-heading {
  color: #3a3a3a;
  margin-left: 25px;
  padding-top: 5px;
}
.graph-sec-heading {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
}
.card-sec-btn {
  margin-left: 150px;
}
.graph-sec-btn {
  padding: 30px;
  margin-left: 147px;
}
.card-head {
  display: flex;
  margin-bottom: 0;
  padding-top: 12px;
  padding-left: 12px;
}
.graph-sec {
  padding: 1px;
  padding-left: 0;
  flex: 35%;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 13px;
}
.card {
  margin-bottom: 0;
  padding-bottom: 0;
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}
.cards-area {
  padding-top: 10px;
  padding-left: 10px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  height: 410px;
}
.cards-area::-webkit-scrollbar {
  width: 10px;
}
.cards-area::-webkit-scrollbar-track {
  background: #dddddd;
  border-left: 4px solid white;
  border-right: 4px solid white;
}
.cards-area::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

ul {
  list-style-type: none;
  padding: 10px;
}
ul li {
  margin-bottom: 20px;
  margin-right: 0;
  padding-left: 9px;
  text-align: center;
  padding-bottom: 0;
  height: 45px;
}
/* .tnc {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
} */
.tnc-signup {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
}
.tnc-signin {
  margin-top: 29px;
  display: flex;
  justify-content: center;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
}
.signinform,
.reset-pass-form,
.trouble-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: auto;
  margin-top: 18px;
  padding: 10px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}
.hr-div {
  display: flex;
  margin-bottom: 15px;
}
.hr-div-trouble {
  display: flex;
  margin-bottom: 20px;
  margin-top: 15px;
}
.hr-text {
  width: 130px;
  border: 0;
  border-top: 1.4px solid #e2e2e2;
  text-decoration: none;
}
.signinhead,
.reset-pass-head,
.trouble-signin-head {
  margin-bottom: 10px;
}
.rememberme {
  margin: 0;
  display: flex;
  margin-bottom: 15px;
}
.rememberme p {
  padding-top: 5px;
  font-size: 13px;
  padding-left: 3px;
}
.link {
  text-decoration: none;
  color: #ff0404;
}
.signincontainer,
.signup-container,
.reset-pass-container,
.trouble-signin-container {
  width: 40%;
  margin: auto;
  margin-top: 10px;
}
.addphno-container {
  margin-left: 355px;
  margin-top: 110px;
  width: 500px;
  padding: 20px;
  text-align: left;
  padding-left: 26px;
  border: 2.5px solid #ef4f23;
  border-radius: 5px;
  padding-top: 10px;
}
.onboard-container {
  display: flex;
  margin-top: 5px;
  margin-left: 5px;
}
.onboard-left {
  flex: 45%;
  padding-left: 45px;
  padding-top: 70px;
  padding-right: 1px;
}
.onboard-img {
  padding-right: 50px;
  height: 450px;
  overflow-y: scroll;
}
.onboard-img::-webkit-scrollbar {
  width: 10px;
}
.onboard-img::-webkit-scrollbar-track {
  background: #dddddd;
  border-left: 4px solid white;
  border-right: 4px solid white;
}
.onboard-img::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-left: 3px solid white;
  border-right: 3px solid white;
}
.onboard-right {
  flex: 56%;
  text-align: left;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 0;
}
.onboard-content {
  width: 400px;
  text-align: left;
  padding: 1px;
  padding-left: 2px;
  padding-bottom: 1px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.onboard-content-head {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0px;
  padding-bottom: 0;
  font-weight: 400;
  font-style: normal;
}
.onboard-content-body {
  margin-top: 8px;
  font-size: 14px;
  color: #5e5858;
  font-weight: 400;
  margin-bottom: 15px;
}
.signin-btn,
.reset-pass-btn,
.signup-btn,
.trouble-btn,
.proceed-btn {
  background-color: #ef4f23;
  color: white;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}
.proceed-btn {
  float: right;
  margin-right: 10px;
  margin-bottom: 5px;
}
.lets-get-started-btn {
  background-color: #ef4f23;
  color: white;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 13px;
  line-height: 14px;
  font-weight: 600;
  margin-top: 30px;
}
.google-btn {
  display: flex;
  margin: 0;
  justify-content: center;
  padding: 4px;
  padding-left: 25px;
}
.phno-div {
  display: flex;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  margin-bottom: 15px;
}
.addphno-phno-div {
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: nowrap;
  width: 67%;
  text-align: center;
}
.phno-inp {
  padding: 10px;
  padding-left: 12px;
  border: 0;
  width: 10px;
  margin-left: 3px;
  height: 18px;
  flex: 50%;
}

.email-inp,
.name-inp,
.pass-inp,
.reset-pass-inp,
.trouble-inp {
  padding: 10px;
  padding-left: 12px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  margin-bottom: 15px;
}
.forgot-div {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.add-device-0 {
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 20px;
  margin: auto;
}
.setpH,
.config-wifi {
  height: 180px;
  width: 310px;
  background-color: #11d019;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 15px;
  padding-left: 20px;
}
.config-wifi {
  padding: 10px;
  text-align: left;
  height: 250px;
}
.config-wifi p {
  font-size: 15px;
  font-weight: 500;
}
.config-wifi li {
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}
.add-device-0-btn-area {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  /* height: 40px; */
}
.add-device-btn2 {
  flex: 48%;
  background-color: #ef4f23;
  color: white;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 10px;
}
.add-device-btn-con,
.control-btns {
  flex: 48%;
  background-color: #b1b1b1;
  color: #ffffff;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 10px;
}
.add-device-btn-suc {
  flex: 98%;
  background-color: #ef4f23;
  color: #ffffff;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-top: 50px;
}
.add-device-btn1 {
  flex: 48%;
  color: #ef4f23;
  background-color: white;
  border: 1.5px solid #ef4f23;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 10px;
}
.add-dev-container,
.control-container {
  flex: 50%;
  padding-left: 20px;
}
.add-dev-head {
  height: 40px;
  padding-top: 25px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  width: 395px;
  margin-bottom: 5px;
}
.connecting {
  margin-left: 44%;
}
.add-dev-container-inside {
  height: 375px;
  width: 330px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1.5px solid #d0d0d0;
  margin-left: 0px;
  padding: 15px;
}
.add-dev-top-area {
  width: 300px;
  padding: 15px;
  justify-content: center;
  text-align: center;
  background-color: #ffeee7;
  height: 120px;
  margin-bottom: 0;
}
.add-dev-cent {
  justify-content: center;
  padding-top: 5px;
}
.add-device-3-btn-area {
  margin-top: 64px;
  display: flex;
  justify-content: space-evenly;
}
.add-device-1-btn-area {
  margin-top: 45px;
  display: flex;
  justify-content: space-evenly;
}

.add-device-2-btn-area {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
.color-list {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin-top: 10px;
  margin-left: 70px;
  border: 1px solid #dddddd;
  padding: 5px;
  padding-left: 1px;
}
.status-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #3a3a3a;
}
.grid-item {
  border: 1px solid black;
  width: 190px;
  height: 50px;
  background-color: #11d019;
}
.control-btn-tray {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* -webkit-transition: 0.4s; */
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  /* -webkit-transition: 0.4s; */
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  /* -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px); */
  transform: translateX(26px);
}
